[Desktop Entry]
Version=1.0
Name=Taskinator
GenericName=Taskinator
Comment=A super cool task manager
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;